@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.5s
}
.header{
    background: url(../assets/bg-firstBlock.jpg);
    width: 100%;
    height: 900px;
    color: white;
    font-weight: 400;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    height: 20%;
}
.container{
    width: 1200px;
    height: auto;
    position: relative;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 510px;
    align-items: center;
}
.last-header-container{
    display: flex;
    width: 170px;
    justify-content: space-between;
    align-items: center;
}
.last-header-container img{
    stroke: #D3B47F;
}
.start-block{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65%;
}
.start-block-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
.block-text{
    line-height: 80px;
}
p.block-text{
    font-size: 24px;
    font-weight: 500;
}
h1.block-text{
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: 270px;
    height: 100px;
    border: none;
    background: #3A4574;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
}
.dot-social{
    width: 48px;
    height: 48px;
    border: 1px white solid;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.interior{
    height: 900px;
}
.interior-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.interior-container-left{
    height: 100%;
    width: 40%;
}
.block-interior{
    width: 460px;
    border-bottom: 1px #E7E7E7 solid;
    line-height: 40px;
    padding: 20px 0px;
}
.name-interior{
    font-size: 23px;
    font-weight: 600;
}
.description-interior{
    display: flex;
    align-items: center;
    width: 90%;
}
.descr-dot div{
    width: 4px;
    height: 4px;
    background: #D3B47F;
    border-radius: 5px;
}
.descr-dot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    padding: 0 10px;
}
.interior-container-right{
    width: 51%;
}
.img-interior{
    position: relative;
    width: 470px;
    height: 500px;
    border: 2px #D3B47F solid;
}
.img-interior img:first-child{
    position: absolute;
    top: 100px;
    left: -85px;
}
.img-interior img:last-child{
    position: absolute;
    bottom: 75px;
    right: -120px;
}
.carousel-expression{
    height: 700px;
    background: #3A4574;
}
.carousel-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}
.title-carousel{
    font-size: 36px;
    font-weight: 600;
    color: #D3B47F;
}
.carousel-text{
    color: white;
    width: 80%;
    line-height: 55px;
    font-weight: 300;
    text-align: center;
}
.carousel-name{
    font-size: 24px;
    font-weight: 600;
    color: #D3B47F;
}
.swiper-button-next{
    color:#D3B47F !important;
}
.swiper-button-prev{
    color:white !important;
}
.benefits{
    height: 1900px;
}

.benefits-containers{
    height: 1750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.benefits-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.benefits-text-container{
    position: relative;
    line-height: 40px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.benefits-name{
    font-size: 40px;
    font-weight: 700;
}
.strip{
    position: absolute;
    width: 130px;
    height: 2px;
    background: #D3B47F;
    left: -65px;
    top: 60px;
}
.benefits-text{
    color: #808080;
    font-weight: 300;
}
.carousel-interior{
    background: linear-gradient(to bottom, #3A4574 50%, white 50%);
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.block-text-interior{
    color: white;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 110px;
    align-items: center;
}
.txt-carousel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.btn-txt-carousel{
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.name-carousel-interior{
    font-size: 48px;
    font-weight: 700;
}
.text-carousel-interior{
    font-weight: 300;
}
.carousel-interior .swiper-slide{
    width: auto !important;
    margin: 0 10px !important;
}
.swiper-wrapper{
    height: auto !important;
}
.carousel-interior .swiper-button-next{
    position: relative !important;
}
.carousel-interior .swiper-button-prev{
    position: relative !important;
}

.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 490px 490px; 
    justify-content: center;
}
.block-map{
    width: 100%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}
.contact-name, .questions-name{
    font-size: 48px;
    font-weight: 700;
}
.contact-point{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 20px 0; */
}
.contact-img{
    width: 48px;
    height: 48px;
    background: #D3B47F;
    border-radius: 50px;
    margin-right: 15px;
}
.contact-texts{
    line-height: 29px;
}
.contact-texts .contact-text:last-child{
    font-size: 24px;
}
.block-questions{
    display: flex;
    flex-direction: column;
}
.input-name-email{
    display: flex;
    justify-content: space-between;
}
.input-name, .input-email{
    display: flex;
    flex-direction: column;
}
input{
    width: 270px;
    height: 60px;
}
input, textarea{
    margin: 15px 0px;
    font-family: 'Poppins', sans-serif;
}
.input-request{
    display: flex;
    flex-direction: column;
}
.block-contact, .block-questions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
textarea{
    height: 125px;
    resize: none;

}
.block-map iframe{
    width: 100%;
    height: 100%;
}
.block-map{
    margin: 20px 0
}
footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 150px;
}
footer .dot-social{
    border: 1px rgb(0, 0, 0) solid;
    color: black;
}
.logo-soc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a{
    color: black;
}
/* hover */

a:hover{
    color:rgb(211, 180, 127);
}
.dot-social:hover{
    border: 1px rgb(211, 180, 127) solid;
}
.btn-social a:hover{
    color:rgb(211, 180, 127);
}
.btn:hover{
    color: rgb(211, 180, 127);
    box-shadow: 1px 1px 21px;
}

/* modal */
.modal{
    background: hsl(0deg 0% 0% / 60%);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    display: none;
    transition: 0.5s;
}
.exit{
    position: absolute;
    z-index: 100;
    top: 1px;
    right: 5px;
    color: black;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-modal{
    background: white;
    width: 880px;
    height: 60%;
    border-radius: 10px;
    position: relative;
}
.content-modal{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content-modal label{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.content-modal input {
    width: 370px;
    height: 60px;
}
.content-modal .btn {
    width: 100%;
}

/* burger */
.popup-burger {
    display: none;
    width: 100%;
    height: 70px;
}

.burger-menu {
    display: flex;
    justify-content: flex-end;
}

.burger-menu_button {
    position: fixed;
    z-index: 30;
    width: 60px;
    height: 60px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    top: 50px;
    right: 50px;
    box-shadow: 1px 1px 10px #333;
    background: #7878785e;
}

.burger-menu_button_active {
    background: none;
    box-shadow: none;
}

.burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    position: absolute;
    width: 30px;
    background-color: #ffffff;
    height: 3px;
    border-radius: 3px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_button_active .burger-menu_lines::before,
.burger-menu_button_active .burger-menu_lines::after{
    background-color: #000000;
}
.burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
    content: '';
    top: -12px;
}

.burger-menu_lines::after {
    content: '';
    top: 12px;
}

.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu_nav {
    padding-top: 120px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: auto;
    background-color: #ffffff;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    width: 300px;
    height: 100%;
    border-radius: 0 0 0 70px;
}
.burger-menu_active a{
    color: #000000;
}
.burger-menu_active .social{
    display: flex;
    width: auto;
}
.burger-menu_active .dot-social{
    z-index: 100;
    border: 1px black solid;
}
.burger-menu_active .burger-menu_nav {
    right: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_link {
    padding: 18px 35px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: black;
    font-weight: 600;
    letter-spacing: 3px;
}

.burger-menu_link:first-child {
    border-top: 1px solid #fff;
}

.burger-menu_link:hover {
    filter: brightness(0.9);
}

.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
.burger-menu_active .last-header-container{
    z-index: 100;
    display: flex;
    width: auto;
}
/* burger */

/* accordion */
#accordion{
    display: none;
    position: relative;
    box-shadow: 0px 1px 7px #D3B47F;
  }
  
  #accordion .head{
    background-color: #FFFFFF;
    color: #563e6e;
    padding: 20px 30px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* #accordion .arrow{
    color: #563e6e;
    font-size: 60px;
    transition: 0.25s ease;
    opacity: 0.3;
    transform: rotate(-90deg);
  } */
  
  #accordion .head:hover .arrow{
    opacity: 1;
  }
  
  
  #accordion .arrow-animate{
    transform: rotate(0deg);
    opacity: 1;
  }
  
  #accordion .content{
    background-color: #FFFFFF;
    display: none;
    padding: 20px 30px;
    color: #333333;
  }
/* accordion */
@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    ul{
        width: 400px;
    }
    .img-interior{
        width: 430px;
        height: 470px;
    }
    .img-interior img{
        height: 400px;
    }
    .img-interior img:first-child{
        
        top: 120px;
        left: -45px;
    }
    .img-interior img:last-child{
        bottom: 125px;
        right: -70px;
    }
    .benefits-pic-container img{
        width: 560px;
    }
    .benefits-name{
        font-size: 38px;
    }
    .contact-name, .questions-name {
        font-size: 45px;
    }
    .block-questions input{
        width: 220px;
    }
}
@media (max-width: 1024px) {
    
    .container {
        width: 700px;
    }
    .middle-header-container, .last-header-container, .start-block .social{
        display: none;
    }
    h1.block-text{
        font-size: 60px;
    }
    .interior-container-right{
        display: none;
    }
    .interior-container-left, .block-interior{
        width: 100%;
    }
    .title-carousel{
        font-size: 25px;
    }
    .carousel-text{
        line-height: 45px;
    }
    .benefits-name{
        font-size: 27px;
    }
    .benefits-text{
        font-size: 14px;
    }
    .benefits-pic-container img {
        width: 380px;
    }
    .strip {
        width: 100px;
        left: -50px;
        top: 40px;
    }
    .benefits{
        height: 1400px;
    }
    .benefits-containers{
        height: 1200px;
    }
    .swiper2 img{
        height: 500px;
    }
    .block-questions input {
        width: 330px;
    }
    .contact {
        height: auto;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .block-map iframe{
        height: 300px;
    }
    .block-contact{
        height: 400px;
    }
    footer{
        height: 100px;
    }
    .block-questions{
        margin: 20px 0;
    }
    .content-modal .input-name,.content-modal .input-email{
        width: 49%;
    }
    .content-modal input{
        width: 100%;
    }
    .popup-burger{
        display: block;
    }
    .big{
        display: none;
    }
    #accordion{
        display: block;
    }
    .block-questions input {
        width: 97%;
    }
    .input-name, .input-email {

        width: 49%;
    }
}
@media (max-width: 768px){
    .container{
        width: 90%;
    }
    header {
        height: 13%;
    }
    
    .header{
        height: 670px;
    }
    .start-header-container img{
        width: 70%;
    }
    .block-text {
        line-height: 60px;
    }
    p.block-text {
        font-size: 18px;
    }
    h1.block-text {
        font-size: 40px;
    }
    .btn {
        width: 240px;
        height: 80px;
    }
    .description-interior{
        font-size: 14px;
    }
    .block-interior{
        line-height: 32px;
    }
    .interior {
        height: 740px;
    }
    .swiper1 img{
        height: 30px;
    }
    .swiper1 .carousel-block{
        text-align: center;
        width: 100%;
    }
    .carousel-text {
        line-height: 33px;
        font-size: 12px;
    }
    .title-carousel {
        font-size: 12px;
    }
    .carousel-name{
        font-size: 18px;
    }
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
    .benefits-pic-container{
        display: none;
    }
    .benefits-text-container{
        width: 100%;
        height: 100%;
    }
    .benefits-name {
        font-size: 24px;
    }
    .benefits-containers {
        height: 730px;
    }
    .benefits {
        height: 800px;
    }
    .swiper2 img {
        height: 240px;
    }
    .name-carousel-interior {
        font-size: 22px;
    }
    .text-carousel-interior{
        font-size: 13px;
    }
    .carousel-interior{
        height: 490px;
    }
    .block-text-interior{
        height: 100%;
    }
    .contact-name, .questions-name {
        font-size: 25px;
    }
    .contact-texts {
        line-height: 24px;
    }
    .contact-img{
        width: 40px;
        height: 40px;
    }
    .contact-texts .contact-text:last-child{
        font-size: 18px;
    }
    .contact-texts .contact-text:first-child{
        font-size: 14px;
    }
    .block-contact {
        height: 310px;
    }
    .social{
        display: none;
    }
    .input-name-email{
        flex-direction: column;
        align-items: center;
    }
    .input-name, .input-email {
        width: 100%;
    }
    
    .btn-questions{
        width: 100%;
    }
    .content-modal .input-name,.content-modal .input-email{
        width: 100%;
    }
    .burger-menu_button{
        top: 10px;
        right: 10px;
    }
    
}